<div class="w-full ">
  <div class=" flex justify-around text-white  bg-blue">
    <h3 class="my-2 py-2">
      {{this.model.title}}
    </h3>
  </div>
</div>
<div>
  <p>
    {{this.model.content}}
  </p>
  <div>
    <p>
      {{this.model.user.username}}
     </p>
   </div>
</div> 