<div class="flex w-full text-center">
  {{#link-to "topic" topic.id class="w-3/5 py-3 text-black border-2 border-t-0 border-blue  "}}
    <p>
      {{topic.title}}
    </p>
  {{/link-to}}
  <p class="w-2/5 border-2 py-3   border-t-0 border-l-0 border-blue ">
    Dramix
  </p>
</div>