{{log model}}
<div class="text-green p-4 flex justify-center flex-col content-center">
    <p class="text-2xl  my-2 text center text-black">
      Vous avez obtenu :
    </p>
    <p class="text-4xl border my-2 border-green text-center ">
        8/10
    </p>
    <button class="bg-green text-white my-2 p-2">
    Voir les détails
    </button>
</div>
