{{#each this.users as |user|}}
  {{#link-to "message.user" user.id}}
    <div class="flex justify-around border border-t-0 border-green py-2 text-black">
      <img src="http://localhost:8001/static/{{user.avatar}}" alt="user picture" class="w-100 h-100">
      <h3 class=" my-auto">
        {{user.username}}
      </h3>
    </div>
  {{/link-to}}
{{/each}}
{{log this.users}}