<div class="w-full ">
  <div class=" flex justify-around text-white  bg-green">
    <h3 class="my-2 py-2">
      Catégories
    </h3>
  </div>
  {{#each this.model as |category|}}
    {{#link-to "forum.topics" category.id}}
      <button class="w-full  border-2 border-t-0 p-4 border-blue hover:bg-grey">
        <h2 class="text-left">
          {{category.title}}
        </h2>
        <p class="text-left">
          {{category.description}}    
        </p>
      </button>
    {{/link-to}}
  {{/each}}
</div>