<div class="w-full ">
  <div class=" flex justify-around text-white  bg-green">
    <h3 class="my-2 py-2">
      Dashboard
    </h3>
  </div>
  <div>
      {{#link-to "dashboard.forum"}}
        <h2 class="border boder-t-o border-green text-green w-full p-4 text-center">
          Forum
        </h2>
      {{/link-to}}
      {{#link-to "dashboard.category"}}
        <h2 class="border boder-t-o border-green text-green w-full p-4 text-center">
          Catégories
        </h2>
      {{/link-to}}
      {{#link-to "dashboard.user"}}
        <h2 class="border boder-t-o border-green text-green w-full p-4 text-center">
          Utilisateurs
        </h2>
      {{/link-to}}
  </div>
</div>