{{log this.model}}
<div>
  <h3 class="text-center text-white  bg-green p-4">
    {{this.model.title}} Dashboard
  </h3>
  <div class="flex bg-green justify-around p-4 text-white">
    {{#link-to "question.add" this.model.id }}
      <button class="border p-2 border-white text-white">
        Ajouter une question
      </button>
    {{/link-to}}
  </div>
</div>
<div>
  {{#each this.model.questions as |question|}}
    <div class="border border-green w-full flex  py-2 justify-between">
      <div>
        {{question.title}}
      </div>
      <button class="border p-2 border-white bg-green text-white">
        Supprimer
      </button>
    </div>
  {{/each}}
</div>