<div class="w-screen">
  <div class="flex  justify-between mx-1/10 w-4/5 ">
    <h2 class="py-4  font-medium">
        {{question.title}} 
    </h2>
    <h2 class="font-bold w-1/5 text-2xl py-4 text-right">
        /{{question.good_answer_value}}
    </h2>
  </div>
  <form class="w-screen py-4">
    {{#each question.answer.answer as |text|}}
      
    {{/each}}
  </form>
</div>