a {
  @apply text-white no-underline ;
}

.header {
  @apply flex justify-between bg-green text-white w-full;

}

.header a {
  @apply text-white no-underline ;
}

.header-info {
  @apply flex flex-wrap ;
}

.header-title {
  @apply m-4 self-center;
}

.header-slogan {
  @apply hidden bg-green p-4;
  font-size: 1.5rem;
}

.logo {
  @apply m-4;
  height: 3rem;
  width: 3rem;
}

.navbar {
  @apply text-white overflow-hidden w-full bg-green;
  max-height: 0px;
  transition-duration: 1.5s;
}

.navbar a {
  @apply text-white no-underline ;
}

.navBtn {
  @apply bg-green flex justify-center text-2xl p-4;
}

.navbar button {
  @apply w-full text-white;
}

.navBtn:hover {
  @apply bg-greenDarker;
}

@screen md {
  .navbar {
    @apply flex flex-row justify-between;
    max-height: 1000px;

  }
}


@screen lg {
  .header-slogan {
    @apply text-white block;
  }
}
