
.base{
    display: none ;
}
.normal{
    display: none ;
}
.qcm{
    display: none ;
}
.hole{
    display: none ;
}
.label{
    display: none ;
}
.math{
    display: none ;
}

.trans-smooth {
    transition-duration: 2s;
}