<div class="w-full ">
  <div class=" flex justify-around text-white  bg-green">
    <h3 class="my-2 py-2">
      Questionnaires
    </h3>
    <button class="my-2 py-2 px-4 bg-green text-white border border-greenDarker hover:bg-greenDarker">
      {{#link-to "questionary.add" }} Créer un Questionnaires {{/link-to }}
    </button>
  </div>

</div>
